<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h1>Calculator</h1>
<form name="Calc" method="get" action="/calc">
    <p><b>First:</b>
        <input name="first" type="text" size="5">
    </p>
    <p><b>Actions:</b><Br>
        <input type="radio" name="action" value="ADDITION" checked> ADDITION<Br>
        <input type="radio" name="action" value="SUBTRACTION"> SUBTRACTION<Br>
        <input type="radio" name="action" value="MULTIPLICATION"> MULTIPLICATION<Br>
        <input type="radio" name="action" value="DIVISION"> DIVISION<Br>
    </p>
    <p><b>Second:</b>
        <input name="second" type="text" size="5">
    </p>
    <p><input type="submit" value="Calc">
        <input type="reset" value="Clear"></p>
</form>

</body>
</html>